@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply leading-9;
}

#mdxLayout img {
    @apply w-full md:w-2/3 object-cover object-center flex mx-auto;
}

#mdxLayout p {
    @apply leading-9 text-xl;
}

a {
    @apply hover:text-blue-800 active:text-inherit visited:text-inherit flex items-center no-underline;
}

#mdxLayout a {
    @apply leading-10 hover:text-blue-800 text-lg font-medium no-underline text-inherit;
}

#mdxLayout li {
    list-style: decimal;
}
